<div class="mb-3">
    <label class="form-label">NOME CLIENTE: </label>
    <input type="text" [(ngModel)]="fattura.cliente.nomeContatto + ' ' + fattura.cliente.cognomeContatto" name="nome" class="form-control">
</div>
<div class="mb-3">
    <label class="form-label">ID: </label>
    <input type="text" [(ngModel)]="fattura.id" name="id" class="form-control">
</div>
<div class="mb-3">
    <label class="form-label">DATA: </label>
    <input type="text" [(ngModel)]="fattura.data" name="data" class="form-control">
</div>
<div class="mb-3">
    <label class="form-label">NUMERO: </label>
    <input type="text" [(ngModel)]="fattura.numero" name="numero" class="form-control">
</div>
<div class="mb-3">
    <label class="form-label">ANNO: </label>
    <input type="text" [(ngModel)]="fattura.anno" name="anno" class="form-control">
</div>
<div class="mb-3">
    <label class="form-label">IMPORTO: </label>
    <input type="text" [(ngModel)]="fattura.importo" name="importo" class="form-control">
</div>
<div class="mb-3">
    <label class="form-label">STATO FATTURA: </label>
    <input type="text" [(ngModel)]="fattura.stato.nome" name="statofattura" class="form-control">
</div>
<div>
    <button type="button" class="form-control btn btn-secondary" (click)="modificafattura(fattura)">Modifica</button>
</div>